body{
    margin: 0;
    padding: 0;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.main{
    text-align: center;
    position: fixed;
    top: 20%;
    left: 20%;

    & h3{
        margin-bottom: 5px;
        font-size: 40px;
        font-family: "Playball", cursive;
    }
    & h1{
        font-size: 80px;
        letter-spacing: 10;
        font-family: "Bevan", serif;
        color: rgba(4, 115, 184, 0.651);
        font-weight: 100;
        margin-top: 0;
    }
    & span{
        margin-left: 12px;
    }
    & input{
        width: 35%;
        height: 40px;
        border-radius: 20px;
        border: 2px dotted black;
    }
    & img{
        width: 35px;
        position: absolute;
        left: 62%;
        top: 88% ;
    }
}