body{
    margin: 0;
    padding: 0;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.box{
    background-color: rgba(108, 227, 236, 0.415);
    background-image: url("https://img.freepik.com/premium-vector/day-with-clouds-weather-app-screen-mobile-interface-design-forecast-weather-background-time-concept-vector-banner_87946-4137.jpg") ;
    opacity: 0.7;
    width: 25% ;
    height: 600px;
    position: absolute;
    top: 8%;
    left: 37%;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgba(137, 133, 125, 0.389);
}

.box .general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
        
    & h3{
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: "Tinos", serif;
    }
    & h6{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    & p{
        font-size: 45px;
        margin-top: 5px;
        margin-bottom: 0;
        font-family: "Libre Caslon Display", serif;
        font-weight: 200;
        color: black;        
    }
}

.box .predictions{
    display: flex;
    flex-direction: column ;

    & .hourly{
        display: flex;
    }
    & .daywise{
        display: flex;
    }
    
}